@page
@model ContactModel
@{
    ViewData["Title"] = "Company management";
}

<p style="text-align: left;"></p>
<p style="text-align: left;"><span style="color: #0000ff;"><em><span style="background-color: #ffffff;">Hello</span></em></span></p>
<p style="text-align: left;">Welcome to the groupe page.</p>
<div style="text-align: left;">
    <p>Here you can find out all the information about group members.<br />Our group consists of 3 members, all of whom are college students, two of whom study software engineering and one are information systems engineering.</p>
    <p><span style="background-color: #00ccff;"></span></p>
    <p><span style="background-color: #00ccff;"><img src="http://www.startisrael.co.il/uploads/Articles/Article_1193_200520161230_870460107.jpg" alt="&times;&ordf;&times;&times;&brvbar;&times;&times;&ordf; &times;&ordf;&times;&times;&times;&nbsp;&times; &times;&cent;&times;&times;&times;&uml; &times;&brvbar;&times;&times;&times;&ordf;" width="423" height="202" /></span></p>
    <p><span style="background-color: #00ccff;"></span></p>
    <p><span style="background-color: #00ccff;"></span></p>
    <p><span style="background-color: #00ccff;"></span></p>
    <p><span style="background-color: #00ccff;">Name:Roi Fraizler</span></p>
</div>
<p style="text-align: left;">Cell-phone number:&nbsp;0542572578</p>
<p style="text-align: left;">Email:&nbsp;roiameleh100@gmail.com</p>
<p style="text-align: left;">My hobbies are:&nbsp;Playing guitar ,listening to music, enjoying with friends, watching stand-ups in youtube.</p>
<p style="text-align: left;">Song that it's exciting because I'm really like listening Liran Danino&nbsp;-&nbsp;<a href="https://www.youtube.com/watch?v=c-SqhswfXck&amp;list=RDEMJkBz57JwwxfpFi8Zc6yxpw&amp;index=2&amp;ab_channel=LiranDaninoMusic" target="_blank" rel="noopener">The song of Liran Danino</a></p>
<p style="text-align: left;">Song that I know to play in guitar -<a href="https://www.tab4u.com/tabs/songs/3810_%D7%94%D7%A4%D7%99%D7%9C_%D7%94%D7%9B%D7%97%D7%95%D7%9C_-_%D7%99%D7%A1%D7%9E%D7%99%D7%9F.html" target="_blank" rel="noopener">The song of The Blue Elephant</a></p>
<p style="text-align: left;"><span style="background-color: #00ffff;"><span style="background-color: #00ccff;"></span></span></p>
<p style="text-align: left;"><span style="background-color: #00ffff;"><span style="background-color: #00ccff;"></span></span></p>
<p style="text-align: left;"><span style="background-color: #00ffff;"><span style="background-color: #00ccff;"></span></span></p>
<p style="text-align: left;"><span style="background-color: #00ffff;"><span style="background-color: #00ccff;"></span></span></p>
<p style="text-align: left;"><span style="background-color: #00ffff;"><span style="background-color: #00ccff;"></span></span></p>
<p style="text-align: left;"><span style="background-color: #00ffff;"><span style="background-color: #00ccff;"></span></span></p>
<p style="text-align: left;"><span style="background-color: #00ffff;"><span style="background-color: #00ccff;"></span></span></p>
<p style="text-align: left;"><span style="background-color: #00ffff;"><span style="background-color: #00ccff;">Name:Avihai Uksusman</span></span></p>
<p style="text-align: left;">ID:308035542<br />My hobbies are playing basketball, playing guitar and watching series.<br />Email:Uavihai@gmail.com</p>
<p style="text-align: left;"><span style="background-color: #00ccff;"></span></p>
<p style="text-align: left;"><span style="background-color: #00ccff;"></span></p>
<p style="text-align: left;"><span style="background-color: #00ccff;"></span></p>
<p style="text-align: left;"><span style="background-color: #00ccff;"></span></p>
<p style="text-align: left;"><span style="background-color: #00ccff;"></span></p>
<p style="text-align: left;"><span style="background-color: #00ccff;"></span></p>
<p style="text-align: left;"><span style="background-color: #00ccff;"></span></p>
<p style="text-align: left;"><span style="background-color: #00ccff;">Name:Sariel soffer</span></p>
<div style="text-align: left;">
    <p>ID:305251175<br />My hobbies are spending time with my family, learning Torah and traveling around Israel.<br />Email:sarielsofer@gmail.com</p>
</div>
<div style="text-align: left;">
    <p></p>
    <p></p>
</div>
<div>
    <div style="text-align: left;"></div>
</div>