@page
@model GAMH.Pages.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
}


<div class="row jumbotron">

  <h1 style="text-align: center;">Thanks.<br />Your order has been received!</h1>

  <br />
  <p class="center-block text-center">
    &nbsp; &nbsp; Note:<br />&nbsp; &nbsp; Items are randomly selected by gender and size only.
    <br />&nbsp; &nbsp; Items are kept for you for two weeks from the date of booking.
    <br />&nbsp; &nbsp;
    <strong>Do not forget to bring ID to verify your identity!</strong>
    <span style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;"><span style="font-size: 14px;"></span></span>
  </p>



  <div class="row text-center ">
    <a href="/" class="btn btn-success text-center">Back To Home</a>
  </div>

</div>

