@page
@model GAMH.Pages.ReceivingetailsModel
@{
    ViewData["Title"] = "";
}

<div class="row jumbotron">
  
  <h1 class="text-center text-success">Your details have been successfully received!</h1>
  <h2 class="text-center">Have a nice day!</h2>
  
  <div class="row text-center ">
    <a href="/" class="btn btn-success text-center">Back To Home</a>
  </div>

</div>

